div#introdution{
	
	background-color: #eee;
	border:2px solid  #999;
	width: 100%;
	height: 380px;
}
div#title{width: 200px;
height:120px;
margin: 20px;
padding: 0px;
float:left;
background-color: white;}
img#head{display: block;
padding:20px;float: left;}
div#name{width: 80px;
height: 80px;
float: left;
padding:20px 0px 20px ;}
div#article{
height: 280px;
padding: 20px;
background-color: white;
margin:20px 160px 20px 240px;
}
p{text-align: auto;
line-height: 20px;}
div#logo{width:120px;
height: 320px;
float: right;
margin: 20px;

background-color: white;
}
img.one{display: block;
padding: 20px;
float: left;}
img.two{display: block;
padding: 0px 20px 20px 20px;}